header {
    padding: 15px 0;
    background-color: #ffffff;
    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 60%;
      margin-left: 10%;
    }
    .emp-text {
      font: normal normal bold 20px/10px Montserrat;
      font-family: "Montserrat", sans-serif;
      letter-spacing: 0px;
      color: #82a70c;
      text-transform: capitalize;
    }
    .emp-payroll {
        margin-right: 90%;
      color: #42515f;
    }
  }
  .payroll-main {
    height: 100%;
    .content {
      min-height: calc(100% - 80px);
      background-color: #f7f7f7;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      .form {
        margin-top: 4%;
        width: 65%;
        padding: 30px 60px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border: 1px solid #f5f5f5;
        border-radius: 8px;
        opacity: 1;
        margin-bottom: 4%;
        .row {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            align-items: center;
            text-align: left;
        }
        .form-head {
          font: normal normal bold 24px/37px Roboto;
          letter-spacing: 0px;
          color: #42515f;
          text-transform: capitalize;
          opacity: 1;
          padding-bottom: 30px;
        }

        .label {
          min-width: 140px;
        }
        .text {
          font-size: 16px;
          color: #42515f;
          opacity: 1;
          font-family: Arial, Helvetica, sans-serif;
        }
        .error {
            margin-left: 10px;
            font-style: italic;
            font-size: 12px;
            color: red;
            font-weight: 600;
        }
        .profile-radio-button {
          display: flex;
          flex-direction: row;
        }
        .profile-radio-button > label {
          display: flex;
          flex-direction: row;
          align-items: center;
        }
        .uploadButton {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          cursor: pointer;
        }
        input[type="checkbox"] {
          cursor: pointer;
        }
        .input {
          width: 70%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          resize: vertical;
        }
        .buttonParent {
            display: flex;
            margin-bottom: 10px;
            justify-content: space-between;
            margin-top: 20px;
        }
        .button {
            font-size: 20px;
            font-family: Roboto;
            letter-spacing: 0px;
            color: #42515f;
            opacity: 1;
            background: transparent;
            border: none;
            font-weight: 400;
            min-width: 140px;
            padding: 7px 7px;
            border: 1px solid #707070;
            cursor: pointer;
         }
        .submitButton {
            border: none;
            background-color: #f5f5f5;
            margin-right: 10px;
            border: 1px solid #707070;
            margin-left: 15px;
        }
        .resetButton {
            border: none;
            border: 1px solid #707070;
        }
        .cancelButton {
          text-decoration: none;
          text-align: center;
        }

        label {
          padding: 12px 12px 12px 0;
          display: inline-block;
        }
        select {
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 4px;
          resize: vertical;
          font: normal normal normal 16px Roboto;
          letter-spacing: 0px;
          color: #42515f;
          background-color: transparent;
          margin-right: 10px;
        }
        .profile {
          width: 40px;
          border-radius: 50%;
          margin-left: 12px;
        }
      }
    }
    * {
      box-sizing: border-box;
    }
  }


  .flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  @media only screen and (max-width: 960px) {
    .payroll-main {
      .content {
        .form {
          width: 85%;
          padding: 44px 20px;
          .cancelButton {
            margin-left: 0px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .payroll-main {
      .content {
        .form {
          margin-top: 10px;
          .uploadButton {
            justify-content: flex-start;
          }
          .profile-radio-button {
            flex-flow: wrap;
          }
          select {
            margin-right: 5px;
          }
          .submit-reset {
            width: 100%;
            display: flex;
            flex-grow: 1;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-bottom: 20px;
          }
          .submitButton {
            margin: 0;
          }
          .buttonParent {
            flex-direction: column-reverse;
            align-items: flex-start;
          }
        }
      }
    }
    .error {
      padding: 0;
    }

    .row {
      flex-direction: column;
    }
  }