.display {
    width: 99.9%;
    border-collapse: collapse;
    min-width: 800px;
    tr {
      min-width: 100%;
      td,
      th {

        text-align: left;
        padding: 5px 8px;
      }
      th {
        letter-spacing: 0px;
        color: #658292;
        text-transform: uppercase;
        opacity: 1;
        font-size: 16px;
        font-family: Roboto;
        font-weight: 500;
      }
      td {
        font: normal normal normal 14px/21px Roboto;
        letter-spacing: 0px;
        color: #3d3d3d;
        opacity: 1;
      }
      td:first-child {
        display: flex;
        align-items: center;
      }
      td img:first-child {
        margin-right: 10px;
      }
      td img {
        cursor: pointer;
      }
      .profile {
        width: 40px;
        border-radius: 40%;
        margin: 0 60px;
      }
      .gender {
        text-transform: capitalize;
      }
      .dept-label {
        background-color: #e9fea5;
        border-radius: 40%;
        width: fit-content;
        padding: 1px 7px;
        text-align: center;
        font-size: 14px;
        display: inline-block;
        font-weight: 300;
        margin-bottom: 8px;
      }
    }
    tr:not(:first-child) {
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 2px solid #e3e3e3;
    }
  } 